# Virtual environment
vendor_venv/
venv/
env/
ENV/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

#Large data file can't be pushed to git but i am giving it's zipped version
# Data files - exclude CSV files but allow archive.zip
data/*.csv
data/**/*.csv
data/begin_inventory.csv
data/end_inventory.csv
data/purchase_price.csv
data/sales.csv
data/vendor_invoice.csv
data/purchases.csv
